<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyTodo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <form class="d-flex" data-dashlane-rid="6704ad5f02d09e76" data-form-type="">
        <input class="form-control me-sm-2" type="search" placeholder="Search" data-dashlane-rid="5e554495e53efa12" data-form-type="">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" data-dashlane-label="true" data-dashlane-rid="bab24140b0f78053" data-form-type="">Search</button>
      </form>
    </div>
  </div>
</nav>