<div id="todo-list" class="mb-4">
    {% if todos %}
        <div class="row">
            <div class="col">
                {% for todo in todos %}
                    <div class="row mt-1 p-1" id="todo_element">
                        <div class="col-1 text-center">
                            {% if todo.todo_level == 0 %}
                                &#128564;
                            {% elif todo.todo_level == 1 %}
                                &#128077;
                            {% elif todo.todo_level == 2 %}
                                &#128064;
                            {% elif todo.todo_level == 3 %}
                                &#128556;
                            {% elif todo.todo_level == 4 %}
                                &#128162;
                            {% endif %}
                        </div>

                        <div class="col-9" id="modif-todo-title">
                            {{ todo.todo_title }}
                        </div>
                        <div class="col-1">
                            <button class="btn action-button col-12"
                                    hx-target="#todo_element"
                                    hx-swap="innerHTML"
                                    hx-get="{% url 'swap-element-title' %}"
                            >
                                <i class="bi bi-pen"></i>
                            </button>
                        </div>
                        <div class="col-1">
                            <button class="btn delete-button col-12"
                                    hx-swap="outerHTML"
                                    hx-target="#todo-list"
                                    hx-post="{% url 'delete_todo' todo.pk %}"
                            >
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    {% else %}
        <ul class="list-group">
            <li class="list-group-item text-center">
                <p class="mt-2">&#128064;&nbsp; On dirait que c’est vide par ici...</p>
            </li>
        </ul>
    {% endif %}
</div>
